*{
	box-sizing: border-box;
	margin: ;
	padding: ;
}

/*-----LINKS--------------------------------------------*/

a{
	font-weight: bold;
	position: fixed;
	color: #ff99ff;
	font-size: 20px;
	font-family: Arial;
	text-decoration: none;
}

a:hover{
	curser: pointer;
	color: #0cc2a6;
}

.radiohead {
	top: 1em;
	right: 1em;
}

.hot {
	top: 3em;
	right: 1em;
}

.LCD {
	top: 5em;
	right: 1em;
}

.cole {
	top: 7em;
	right: 1em;
}
.lana {
	top: 9em;
	right: 1em;
}

.future {
	top: 11em;
	right: 1em;
}

.major {
	top: 13em;
	right: 1em;
}

.disclosure {
	top: 15em;
	right: 1em;
}

.die {
	top: 17em;
	right: 1em;
}

.grimes {
	top: 19em;
	right: 1em;
}
.mac {
	top: 21em;
	right: 1em;
}

.flume {
	top: 23em;
	right: 1em;
}

.fidlar {
	top: 25em;
	right: 1em;
}

.leon {
	top: 27em;
	right: 1em;
}



/*-------GRID-------------------------------------*/

#container{
	width: 50vw;
	margin: auto;
	min-height: 75vw;
}

.box-top{
	display: grid;
	grid-template-columns: 1fr 2fr ;
	grid-column-gap: 2em;
}

.box{
	margin-bottom: 2em;
}

.left{
	background: #ff99ff;
	min-height: 450px;
}

.right{
	background: #1efb99;
	min-height: 450px;
}

.box-bottom{
	background: #ffff66;
	min-height: 100px;
	margin-top: 2em;

}


/*---MY LETTERS-------------------------------------------*/

#main_title {
	transform: scale(0.6);
	/*display: inline-block;*/
	text-align: center;

}



/*img{
	float: right;
	clear: both;
}*/


/*-----FOOTER------------------------------------------*/

.rectangle {
	background: #1efb99;
	color: white;
	padding: 20px;
	margin: 20px;
	font-size: 14px;
	font-family: Arial;
	font-weight: condensed;
	font-weight: bold;
	text-align: justify;
	text-transform: uppercase;
}

/*----LETTERS CSS--------------------------------------------*/


.letter {

        		width:200px; /*resize as you see fit */
        		height:300px; /*resize as you see fit */
        		display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
        		/*border:1px solid #000;*/ /*feel free to remove or hide this rule */
        		position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
        		overflow: hidden;
        		margin: 50px;
        		color: black;
        	}


.d-stem {
	width: 50px;
	height: 300px;
	background: black;
	position: absolute;
	left: 0px;
}


.l-foot {
	width: 200px;
	height: 50px;
	background: black;
	position: absolute;
	left: 0px;
	top: 250px;
}

.f-bar,
.e-bar {
	width: 100px;
	height: 50px;
	background: black;
	position: absolute;
	left: 0px;
	top: 120px;
}

.o-outter {
	height: 300px;
	width: 200px;
	background: black;
	position: absolute;
	left: 0px;
	border-radius: 100px;
}

.d-counter,
.o-counter {
	height: 200px;
	width: 70px;
	background: white;
	position: absolute;
	left: 60px;
	top: 50px;
	border-radius: 100px;
}


.c-cutout {
	height: 60px;
	width: 80px;
	background: white;
	position: absolute;
	left: 120px;
	top: 150px;
}

.a-outter,
.d-outter,
.b-outter {
	height: 300px;
	width: 200px;
	background: black;
	position: absolute;
	left: 0px;
	border-radius: 100px;
}

.a-counter,
.b-counter {
	height: 110px;
	width: 70px;
	background: white;
	position: absolute;
	left: 60px;
	top: 50px;
	border-radius: 100px;
}

.b-counter-bottom {
	height: 70px;
	width: 70px;
	background: white;
	position: absolute;
	left: 60px;
	top: 180px;
	border-radius: 100px;
}

.d-bar,
.b-bar {
	width: 110px;
	height: 50px;
	background: black;
	position: absolute;
	left: 0px;
	top: 0px;
}

.d-bottom,
.b-bottom {
	width: 110px;
	height: 30px;
	background: black;
	position: absolute;
	left: 0px;
	top: 270px;
}

.a-counterbottom {
	height: 70px;
	width: 70px;
	background: white;
	position: absolute;
	left: 60px;
	top: 180px;
	border-radius: 100px;
}

.a-foot {
	width: 200px;
	height: 150px;
	background: black;
	position: absolute;
	left: 0px;
	top: 150px;
}

.a-cutout {
	height: 88px;
	width: 70px;
	background: white;
	position: absolute;
	left: 60px;
	top: 215px;
}

.g-bar {
	width: 110px;
	height: 50px;
	background: black;
	position: absolute;
	left: 90px;
	top: 160px;
}

.f-cutout {
	height: 150px;
	width: 200px;
	background: white;
	position: absolute;
	left: 0px;
	top: 150px;
	
}

.f-stem {
	width: 50px;
	height: 200px;
	background: black;
	position: absolute;
	left: 0px;
	top: 100px;
}

.h-back {
	width: 200px;
	height: 250px;
	background: black;
	position: absolute;
	left: 0px;
	top: 50px;
}

.h-bottomc {
	height: 150px;
	width: 70px;
	background: white;
	position: absolute;
	left: 60px;
	top: 180px;
	border-radius: 100px;
}

.h-topc {
	height: 150px;
	width: 70px;
	background: white;
	position: absolute;
	left: 60px;
	top: 0px;
	border-radius: 100px;
}

.u-left,
.h-left{
	height: 100px;
	width: 60px;
	background: black;
	position: absolute;
	left: 0px;
	top: 0px;
}

.j-right{
	height: 100px;
	width: 70px;
	background: black;
	position: absolute;
	left: 130px;
	top: 0px;

}

.u-right,
.h-right{
	height: 100px;
	width: 70px;
	background: black;
	position: absolute;
	left: 130px;
	top: 0px;
}

.l-stem,
.i-stem {
	height: 300px;
	width: 60px;
	background: black;
	position: absolute;
	left: 0px;
	top: 0px;
}

.j-bar {
	width: 110px;
	height: 50px;
	background: black;
	position: absolute;
	left: 0px;
	top: 160px;
}

.j-counter {
	width: 130px;
	height: 160px;
	background: white;
	position: absolute;
	left: 0px;
	top: 0px;
}

.q-cutout {
	width: 100px;
	height: 50px;
	background: black;
	position: absolute;
	left: 100px;
	top: 250px;
}

.t-top {
	height: 60px;
	width: 200px;
	background: black;
	position: absolute;
	left: 0px;
	top: 0px;
}

.t-stem {
	height: 300px;
	width: 70px;
	background: black;
	position: absolute;
	left: 60px;
	top: 0px;
}

.r-top {
	height: 100px;
	width: 100px;
	background: black;
	position: absolute;
	left: 0px;
	top: 0px;
}


.u-cutout {
	height: 200px;
	width: 70px;
	background: white;
	position: absolute;
	left: 60px;
	top: 0px;
}

.k-top {
	height: 200px;
	width: 70px;
	background: white;
	position: absolute;
	left: 80px;
	bottom: 150px;
	border-radius: 100px;
	transform: rotate(20deg);
}

.k-bottom {
	height: 200px;
	width: 70px;
	background: white;
	position: absolute;
	left: 80px;
	top: 180px;
	border-radius: 100px;
	transform: rotate(160deg);
}

.k-back {
	height: 300px;
	width: 200px;
	background: black;
	position: absolute;
	left: 0px;
	top: 0px;
}

.n-top {
	height: 2000px;
	width: 70px;
	background: white;
	position: absolute;
	left: 90px;
	bottom: 150px;
	border-radius: 100px;
}

.n-bottom {
	height: 150px;
	width: 70px;
	background: white;
	position: absolute;
	left: 60px;
	top: 180px;
	border-radius: 100px;
}

.p-outter {
	height: 220px;
	width: 200px;
	background: black;
	position: absolute;
	left: 0px;
	border-radius: 100px;
}

.v-counter {
	height: 200px;
	width: 70px;
	background: white;
	position: absolute;
	left: 60px;
	top: 50px;
	border-radius: 0px;
}

.s-back,
.z-back {
	height: 300px;
	width: 200px;
	background: black;
	position: absolute;
	left: 0px;
	top: 0px;
}

.z-top {
	height: 70px;
	width: 150px;
	background: white;
	position: absolute;
	right: 80px;
	bottom: 160px;
	border-radius: 100px;
}

.z-bottom {
	height: 70px;
	width: 150px;
	background: white;
	position: absolute;
	left: 80px;
	top: 180px;
	border-radius: 100px;
}


.s-top {
	height: 70px;
	width: 150px;
	background: white;
	position: absolute;
	right: 80px;
	top: 180px;
	border-radius: 100px;
}

.s-bottom {
	height: 70px;
	width: 150px;
	background: white;
	position: absolute;
	left: 80px;
	bottom: 160px;
	border-radius: 100px;
}


.m-counter {
	height: 150px;
	width: 70px;
	background: white;
	position: absolute;
	left: 20px;
	top: 180px;
	border-radius: 100px;
}


.m-cutout {
	height: 150px;
	width: 70px;
	background: white;
	position: absolute;
	left: 110px;
	top: 180px;
	border-radius: 100px;
}

.m-top {
	height: 200px;
	width: 70px;
	background: white;
	position: absolute;
	left: 70px;
	bottom: 150px;
	border-radius: 100px;
}

.w-counter {
	height: 150px;
	width: 70px;
	background: white;
	position: absolute;
	left: 20px;
	bottom: 180px;
	border-radius: 100px;
}


.w-cutout {
	height: 150px;
	width: 70px;
	background: white;
	position: absolute;
	left: 110px;
	bottom: 180px;
	border-radius: 100px;
}

.y-crossr,
.x-crossr {
	height: 310px;
	width: 70px;
	background: black;
	position: absolute;
	left: 65px;
	top: 0px;
	border-radius: 100px;
	transform: rotate(150deg);
}

.y-crossl,
.x-crossl {
	height: 310px;
	width: 70px;
	background: black;
	position: absolute;
	left: 65px;
	top: 0px;
	border-radius: 100px;
	transform: rotate(30deg);
}

.y-counter {
	height: 200px;
	width: 200px;
	background: white;
	position: absolute;
	left: 0px;
	top: 150px;
}

.y-stem {
	width: 90px;
	height: 200px;
	background: black;
	position: absolute;
	left: 55px;
	top: 100px;
}







